.enroll-button{
  margin:30px 0 0 0;
  .btn{
    width: 35%;
    color: $color-white !important;
    background-color: #003f64;
    border-radius: 0 !important;
  }
}
.enroll-background{
  padding:40px 0;
  background-image: url("../images/enroll-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h3{
    color: $color-white;
    font-family: $font-style;
    font-size: 35px;
    margin: 0 !important;
  }
  .col-lg-5{
    img {
      position: relative;
      left: 10px;
      bottom: -40px;
    }
    input{
      padding: 15px 200px 15px 40px;
      color: $color-white;
      background-color: transparent;
      font-family: Raleway, sans-serif;
      font-size: 16px;
    }
  }
  .btn{
    width: 78%;
    color: #001b35;
    background: $color-white;
    border-radius: 0 !important;
    margin: 20px 0;
    font-family: $font-style;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 200px 15px 145px;

  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .home-header {
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 0;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 25px 25px 0 25px !important;
      }
      .clock {
        display: none;
      }
    }
    .container-fluid {
      background-color: black;
    }
    .navbar-brand{
      margin-left: 0 !important;
    }
    .navbar-header {
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
      padding:15px !important;
    }
    .main-heading {
      h1 {
        font-size: 45px !important;
        margin: 0 0 40px 0 !important;
      }
      .special-development-icons {
        .front-end-development{
          margin-left:20% !important;
        }
        .js-dev{
          margin-left: -40px !important;
        }
      }
      .btn {
        width: 16%;
      }
    }
  }
  .about-background-image{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0 !important;
      }
    }
  }
  .third-div{
    font-size:18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .home-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 0;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 25px 25px 0 25px !important;
      }
      .clock {
        display: none;
      }
    }
    .container-fluid {
      background-color: black;
    }
    .navbar-header {
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      h1 {
        font-size: 40px !important;
        margin: 50px 0;
      }
      .special-development-icons {
        display: none;
      }
      .btn {
        width: 25%;
      }
    }
  }
  .about-background-image{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0 !important;
      }
    }
  }
  .third-div{
    font-size:18px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .about-background-image{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0 !important;
      }
    }
  }
  .enroll-button{
    .btn{
      width:55%;
    }
  }
  .enroll-background {
    display: none;
  }
}