.enroll-button{
  margin:30px 0 0 0;
  .btn{
    width: 35%;
    color: $color-white !important;
    background-color: #003f64;
    font-size: 18px;
    font-family: $font-style;
    font-weight: 600;
    border: 1px solid #003f64;
    border-radius: 0 !important;
    box-shadow: 0 8px 15px #cccccc;
    padding: 14px 0;
  }
}
.enroll-background{
  padding:40px 0;
  background-image: url("../images/enroll-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h3{
    color: $color-white;
    font-family: $font-style;
    font-size: 35px;
    margin: 0 !important;
  }
  .col-lg-5{
    img {
      position: relative;
      left: 10px;
      bottom: -40px;
    }
    input{
      padding: 15px 200px 15px 40px;
      color: $color-white;
      background-color: transparent;
      font-family: Raleway, sans-serif;
      font-size: 16px;
    }
    ::-webkit-input-placeholder{
      color: $color-white;
    }
    .select-icon{
      position: relative;
      bottom: 0 !important;
      left: -35px !important;
    }
  }
  .btn{
    width: 78%;
    color: #001b35;
    background: $color-white;
    border-radius: 0 !important;
    margin: 20px 0;
    font-family: $font-style;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;

  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .about-background-image{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0 !important;
      }
    }
  }
  .third-div{
    font-size:18px !important;
  }
  .enroll-background {
    .btn{
      width:46%;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-background-image {
    .second-div {
      .front-end-development {
        margin-left: 0 !important;
      }
      .js-dev {
        margin-left: 0 !important;
      }
    }
  }
  .third-div {
    font-size: 18px !important;
  }
  .enroll-background {
    .col-lg-5 {
      img {
        bottom: -35px;
      }
      input {
        padding: 15px 100px 15px 50px;
        font-size: 13px;
      }
    }
    .btn {
      font-size: 16px;
      padding: 15px 215px 15px 90px;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .about-background-image{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0 !important;
      }
    }
  }
  .enroll-button{
    .btn{
      width: 55%;
      font-size: 13px;
    }
  }
  .enroll-background {
    h3{
      font-size: 32px;
      font-weight: 600;
    }
    img{
      position: relative;
      left: 17px !important;
      bottom: 0;
      top: 35px;
    }
    input{
      padding: 10px 5px 10px 35px !important;
      margin-left: 11px !important;
    }
    .select-icon{
      top: -30px !important;
      left: -20px !important;
      float: right;
    }
    .btn{
      width: 92%;
      margin: 15px 0 10px 11px;
      font-size: 18px;
      padding: 9px 0;
    }
  }
}

