.about-us{
    .marginControl{
      width: 50%;
      margin-top: 0 !important;
      .icons{
        width:3%;
        height:auto;
        position: relative;
        top:28px;
        left:10px;
        margin:0 !important;
      }
      .form-transform {
        width: 100%;
        padding: 5px 0 5px 35px;
        font-family: $font-style;
        font-size:14px;
      }
      button{
        width:100%;
        border-radius: 0 !important;
        font-family: $font-style;
        font-size:14px;
        font-weight:700;
        color: $color-white;
        margin-top:25px;
      }
    }
    .academy-chef{
      height:450px !important;
      margin-left: 200px;
    }
}



@media(min-width: 992px) and (max-width: 1199px){
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;

      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
        padding: 25px 0 10px 150px;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
      margin-bottom: 0 !important;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .special-development-icons{
        display: none;
      }
      .btn {
        width:25%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{

      .marginControl{
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 15px !important;
        .icons{
          width:4% !important;
        }
      }
  }
  .third-div {
    background-size: cover;
    .tagline {
      margin: -50px 0 0 47px !important;
    }
    .tagline-guide {
      margin: -50px 0 0 97px !important;
    }
  }
}

@media(min-width: 768px)and(max-width: 991px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;

      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .special-development-icons{
        display: none;
      }
      .btn {
        width:55%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{
    .marginControl{
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 15px !important;
      .icons{
        width:6% !important;
        top: 28px !important;
        left:10px !important;
        margin:0 !important;
      }
      .form-transform {
        width: 100%;
      }
      button{
        width: 100% !important;
      }
    }
  }

}

@media(min-width: 320px) and (max-width: 767px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
      background: #000;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .special-development-icons{
        display: none;
      }
      .btn {
        width:55%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{
    .marginControl{
      width: auto !important;
      margin-top:0 !important;
      .icons{
        width:10%;
        left: 5px !important;
      }
      .form-transform {
        width: auto;
        font-size:16px;
      }
      button{
        width: 100% !important;
        font-size:16px;
        margin-bottom:30px !important;
      }
    }
  }
}