.about-us {
  .about-sec {
    padding: 20px 0 50px 0 !important;
  .marginControl {
    width: 50%;
    margin-top: 0 !important;
    .icons {
      width: 3%;
      height: auto;
      position: relative;
      top: 28px;
      left: 10px;
      margin: 0 !important;
    }
    .form-transform {
      width: 100%;
      padding: 5px 0 5px 35px;
      font-family: $font-style;
      font-size: 14px;
    }
    button {
      width: 100%;
      border-radius: 0 !important;
      font-family: $font-style;
      font-size: 14px;
      font-weight: 700;
      color: $color-white;
      margin-top: 25px;
    }
  }
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;
      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
        padding: 25px 0 10px 150px;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
      margin-bottom: 0 !important;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 50px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width:25%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{
      .marginControl{
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 15px !important;
        .icons{
          width:4% !important;
        }
      }
  }
  .third-div {
    background-size: cover;
    .tagline {
      margin: -50px 0 0 47px !important;
    }
    .tagline-guide {
      margin: -50px 0 0 97px !important;
    }
  }
}

@media(min-width: 768px)and(max-width: 991px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;

      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 40px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width:50%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{
    .marginControl{
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 15px !important;
      .icons{
        width:6% !important;
        top: 28px !important;
        left:10px !important;
        margin:0 !important;
      }
      .form-transform {
        width: 100%;
      }
      button{
        width: 100% !important;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 767px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
      background: #000;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 28px !important;
        margin-bottom: 15px !important;
      }
      .special-development-icons{
        display: none;
      }
      .btn {
        width:55%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us{
    .marginControl{
      width: 100% !important;
      margin-top: 0 !important;
      margin-left: 0 !important;
      .icons{
        width:7% !important;
        left: 10px !important;
      }
      .button{
        width: 100% !important;
        font-size:16px;
        margin-bottom:30px !important;
      }
    }
  }
  .details{
    img{
      padding: 10px 0 5px 0;
    }
    p{
      width: 100%;
      margin: 15px 0 0 0 !important;
      font-size:  16px !important;

    }
  }
  .last-div {
    .bg-on-image{
      padding:30px 0;
    }
    .appBakerZ{
      margin: 10px 0;
      padding: 0 !important;
    }
    h5{
      font-size: 14px !important;
    }
    p{
      font-size:10px !important;
    }
    .input-group {
      display: inline-block;
      padding: 0 !important;
      input{
        width: 100%;
        text-align: center;
        color: #333;
      }
    }
    button{
      margin: 10px 0 0 10px;
      width:135px !important;
    }
    i{
      margin-top: 40px !important;
    }
    .fa-facebook {
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #005eb2;
      }
    }
    .fa-google-plus{
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #e62b34;
      }
    }
    .fa-twitter{
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #43bdf0;
      }
    }
    .fa-youtube-play {
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #dd3125;
      }
    }
  }
}