.enroll-header {
  background: url("../images/enroll-bg.png") no-repeat !important;
  width: 100%;
  @extend .header-bg;
}
.about-us{
  .form-transform-marginControl{
    width: 50%;
    margin-top:50px;
    .icons{
      width:3%;
      height:auto;
      position: relative;
      top:28px;
      left:10px;
      margin:0 !important;
    }
    .form-transform {
      width: 100%;
      padding: 5px 0 5px 35px;
      font-family: $font-style;
      font-size:14px;
    }
    button{
      width:100%;
      border-radius: 0 !important;
      font-family: $font-style;
      font-size: 14px;
      font-weight: 700;
      color: $color-white;
      margin-top: 25px;
    }
  }
  .academy-chef{
    height: 450px !important;
    margin-left: 200px;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;
        height: 100px;
      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
        padding: 10px 0 0 250px !important;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
      margin-bottom: 0 !important;
    }
    .navbar-collapse {
      position: relative;
      top: -40px !important;
      left: 0 !important;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1{
        font-size: 50px !important;
        margin-bottom: 15px !important;
      }
      .btn{
        width:20% !important;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;
      }
    }
  }
  .about-us{
    .md-screen{
      padding-left: 100px !important;
      .form-transform-marginControl{
        margin-top: 10px !important;
        margin-left: 25px !important;
        .icons{
          width: 5% !important;
          top: 28px !important;
          left: 8px !important;
          margin:0 !important;
        }
        .form-transform {
          width: 100%;
        }
        button{
          width: 100% !important;
        }
      }
      .col-sm-6{
        margin-left: 0 !important;
        .academy-chef {
          margin-top: 25px !important;
          margin-left: 50px !important;
          height: 400px !important;
        }
      }
    }
  }
  .third-div {
    background-size: cover;
    .tagline {
      margin: -50px 0 0 47px !important;
    }
    .tagline-guide {
      margin: -50px 0 0 97px !important;
    }
  }
}

@media(min-width: 768px)and(max-width: 991px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid{
        background: #000;

      }
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
        padding: 10px 0 5px 60px !important;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      width:100%;
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 40px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width:21% !important;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;
      }
    }
  }
  .about-us {
    .md-screen {
      padding-left: 100px !important;
      .form-transform-marginControl {
        margin-top: 15px !important;
        margin-left: 25px !important;
        .icons {
          width: 7% !important;
          top: 28px !important;
          left: 8px !important;
          margin: 0 !important;
        }
        .form-transform {
          width: 100%;
        }
        button {
          width: 100% !important;
        }
      }
      .col-sm-6 {
        margin-left: 0 !important;
        .academy-chef {
          margin-top: 25px !important;
          margin-left: 0 !important;
          height: 400px !important;
        }
      }
    }
  }

}

@media(min-width: 320px) and (max-width: 767px) {
  .enroll-header{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
      background: #000;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 28px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width:55%;
        font-size: 18px;
        font-weight: 600;
        margin-top:20px;
        display: inline-block;
        border-radius: 0 !important;
        box-shadow: 0 4px 25px darkslategrey;
        color: #4c667a !important;
        background-color: $color-white !important;

      }
    }
  }
  .about-us {
    .form-transform-marginControl {
      width: auto !important;
      margin-top: 0 !important;
      .icons {
        width: 8% !important;
      }
      .form-transform {
        font-size: 13px !important;
      }
      button {
        width: 100% !important;
        font-size: 13px !important;
      }
    }
    .academy-chef {
      margin-top: 25px !important;
      margin-left: 75px !important;
      height: 200px !important;
    }

  }
}