.hybrid-header-bg {
  background: url("../images/HADS-background.png") no-repeat;
  width: 100%;
  height: 460px;
  .navbar-default {
    margin-bottom:0;
    background-color: transparent !important;
    border-color: transparent;
  }
  .navbar-collapse {
    width: 100%;
    padding: 35px 0 0 35px;
    font-size:15px;
    position: relative;
    top: 30px;
    left: 15px;
    ul li a{
      color: $color-white;
    }
  }
  .clock {
    display: inline-block;
    width: 22%;
    margin: -28px 0 0;
    img{
      width: 17%;
      float: left;
      margin: 0;
    }
    p{
      width: 79%;
      margin: 0 !important;
      display: inline-block;
      float: right;
      font-size: 11px;
      color: #fff;
    }
  }
  .navbar-brand {
    padding-top: 15px;
  }
  .navbar-nav{
    color:white;
    margin-left:60px;
  }
  .navbar-nav > li > a {
    padding:10px !important;
    &:hover{
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }
  }
  h1{
    font-size: 60px;
    color: #fff;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .main-heading{
    text-align:center;
    font-family:"Raleway" ,sans-serif;
    margin: 100px 0 0 0;
    color: $input-bg;
    .btn{
      width: 60%;
      color: #4c667a;
      font-family: 'Raleway Bold', sans-serif;
      border-radius: 0 !important;
      padding: 10px 20px;
      margin-top: 60px;
      box-shadow: 0 10px 30px #476b91;
      display: none;
    }
  }
  .navbar-toggle{
    margin-top:50px !important;
  }
  .logo-top{
    padding: 0 0 0 50px;
  }
  .navbar-collapse{
    border:0;
    padding:0 !important;
  }
}
.fifth-div{
  .displayes{
    .sass-block{
      background-color: rgba(204, 51, 99, 0.9);
      @extend .color-orange;
    }
    .phonegap-block{
      background-color: rgba(10, 30, 39, 0.9);
      @extend .color-orange;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .hybrid-header-bg {
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid {
        background-color: #000000;
        .logo-top {
          padding: 0 !important;
        }
        .navbar-nav {
          margin: 40px 0 10px 40px !important;
        }
        .clock {
          display: none;
        }
      }
      .navbar-header {
        padding: 0 0 21px;
      }
      .navbar-collapse {
        position: relative;
        top: 0;
      }
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width: 20%;
        font-size: 18px;
        display: inline-block;
        font-family: $font-style;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hybrid-header-bg {
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .container-fluid {
        background-color: #000000;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 18px 0 5px 50px;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
  }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        width: 25%;
        font-size: 18px;
        display: inline-block;
        font-family: $font-style;
        font-weight: bold;
      }
    }
  }

}
@media (min-width: 320px) and (max-width: 767px) {
  .hybrid-header-bg{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
      background: #000;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        font-size: 18px;
        display: inline-block;
        font-family: $font-style;
        font-weight: bold;
      }
    }
  }

}