.hybrid-header-bg {
  background: url("../images/HADS-background.png") no-repeat;
  width: 100%;
  @extend .header-bg;
}
.fifth-div{
  .displayes{
    .sass-block{
      background-color: rgba(204, 51, 99, 0.9);
      @extend .color-orange;
    }
    .phonegap-block{
      background-color: rgba(10, 30, 39, 0.9);
      @extend .color-orange;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .about-background-image .second-div {
    .about-us-paragraph{
      margin-bottom: 0 !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
   .about-background-image .second-div {
    padding:10px 0;
    h3{
      font-size: 24px;
    }
    .about-us-paragraph{
      font-size: 16px;
      margin-bottom: 15px !important;
    }
    .div-two-nested p{
      font-size: 11px;
      margin-top: 0 !important;
    }
  }
  .third-div{
    .rowWithBg{
      padding: 20px 0;
      .course-image{
        width: 12%;
        height: 75px;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px){}