////////////////
.header-bg {
  background: url("../images/backg.png") no-repeat;
  width: 100%;
  height: 460px;

  .navbar-default {
    margin-bottom:0;
    background-color: transparent !important;
    border-color: transparent;
  }

  .navbar-collapse {
    width: 100%;
    padding: 35px 0 0 35px;
    font-size:15px;
    //margin-top:10px;
    //margin-left: 10px;
    position: relative;
    top: 30px;
    left: 15px;

    ul li a{
      color: $color-white;
    }
  }

  .clock {
    display: inline-block;
    width: 22%;
    margin: -28px 0 0;
    img{
      width: 17%;
      float: left;
      margin: 0;
    }

    p{
      width: 79%;
      margin: 0 !important;
      display: inline-block;
      float: right;
      font-size: 11px;
      color: #fff;
    }
  }

  .navbar-brand {
    padding-top: 15px;
  }

  .navbar-nav{
    color:white;
    margin-left:60px;
  }
  .navbar-nav > li > a {
    padding:10px !important;
    &:hover{
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }
  }
  h1{
    font-size: 60px;
    color: #fff;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    //margin-bottom: 80px;

  }
  .main-heading{
    text-align:center;
    font-family:"Raleway" ,sans-serif;
    margin: 100px 0 0 0;
    color: $input-bg;
    .btn{
      width: 60%;
      color: #4c667a;
      font-family: 'Raleway Bold', sans-serif;
      border-radius: 0 !important;
      padding: 10px 20px;
      margin-top: 60px;
      box-shadow: 0 10px 30px #476b91;
      display: none;
    }
  }

  .navbar-toggle{
    margin-top:50px !important;
  }
  .logo-top{
    padding: 0 0 0 50px;
  }
  .navbar-collapse{
    border:0;
    padding:0 !important;

  }
}

.about-background-image{
  background-image: url("../images/about-academy-bg.jpg");
  .second-div{
    width: 100%;
    padding: 60px;
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #555555;
    h3{
      font-size: 34px;
      margin: 15px 0 29px 12px;
      padding: 0 ;
      color: #555555;
    }
    .about-us-paragraph{
      color: #555;
      font-size: 20px;
      line-height: 35px;
      font-family: 'Raleway',sans-serif;

    }
    p {

      color: #1b3a54;
      margin: 0 0 50px;
    }
    .div-two-nested {
      //padding:10px ;
      img{
        height: 60px;
      }
      p {
        //padding: 5px 0;
        font-size: 13px;
        font-family: 'Raleway Bold', sans-serif;
        font-weight:600;
        color: #1b3a54;
      }
    }
    .front-end-development{
      margin-left: 15%;
    }
    .js-dev{
      margin-left: -50px;

    }
  }
}

.inline-block-elem {
  display: inline-block;
  vertical-align: middle;
  //background-position: center;
}
.third-div {
  height: 150px;
  width:100%;
  font-family: "Raleway SemiBold";
  font-size:18px;
  text-align: center;
  display: table;

  .rowWithBg {
    background: url("../images/background.png") no-repeat;
    //background-position:center;
    background-size: cover;
    background-attachment: fixed;
    //min-height:300px;
    display: table-cell;
    vertical-align:middle ;
  }

  .course-image {
    background: url("../images/selected-course-icon.png") no-repeat;
    background-position: center !important;
    width: 26%;
    height: 60px;

    &:hover {
      background: url("../images/course.png") no-repeat;
      background-position: center !important;
    }
  }
  .learing-image {
    background: url("../images/best-course-icon.png") no-repeat;
    @extend .course-image;
    &:hover {
      background: url("../images/strat-learning.png") no-repeat;
    }
  }

  .master-image {
    background: url("../images/best-teacher-icon.png") no-repeat;
    @extend .course-image;
    &:hover {
      background: url("../images/master.png") no-repeat;
    }
  }
  .text-uppercase {
    display: inline-block;
    color: white;
    //font-size:16px !important;
    font-family: "Raleway SemiBold",sans-serif;
  }

}

.fourth-div {
  text-align: center;
  background: url("../images/white-bg.png") no-repeat;
  background-size: cover;
  padding: 70px 0;
  h3 {
    font-family: $font-style;
    font-size: 33px;
    color: #555555;
    margin: 0 0 50px 0px;
  }
  .accordian-courses{
    display: inline-block;
    width:70%;
  }
  button{
    border-style:solid;
    border-color: #ffffff;
  }
  .dropdown-transformation {
    width: 100%;
    font-family: $font-style;
    text-align: left;
    font-size:18px;
    padding: 13px 9px 0 15px;
    margin: 5px 0;
    color: white;
    box-shadow: #cacaca;
  }
  .bg-one {
    background-color: #106a9f !important;
  }
  .bg-two {
    background-color: #003f64 !important;
  }
  span {
    position: relative;
    top: -6px;
    border-radius: 70%;
    background-color: white;
    box-shadow: black;
    width: 34px;
    height: 34px;
    text-align: center;
    color: black !important;
    &:before {
      vertical-align: middle;
      position: relative;
      color: #003f64;
      top: 3px;
      left: 1px;
    }
  }
}

.fifth-div {
  background: url("../images/background5.png") no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  font-size:15px;
  background-size: cover;
  color: $color-white;
  font-family: $font-style;

  .displayes {
    display: table;
    padding: 0 !important;

    .color-orange {
      background-color: rgba(255, 114, 0, 0.9);
      height: 335px;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      img{
        position: relative;
        top: -10px;
      }
      p {
        //font-size: 15px;
        display: inline-block;
        width: 293px;
        position: relative;
        top: 32px;
      }
    }
    .css-three {
      background-color: rgba(22, 109, 172, 0.88);
      @extend .color-orange;
      img {
        margin: 0 15px;
        position: relative;
        top: -20px;
      }
    }
  }
  .java-sc {
    background-color: rgba(0,63,100,.8);
    padding: 87px 0;
    p {
      width: 66%;
      margin: 0 auto;
      font-family: $font-style;
    }
    img {
      margin: 0 0 20px 0;
    }
  }
  .angular-js {
    background-color: rgba(158,24,24,.9);
    padding: 87px 0;
    p {
      width: 71%;
      margin: 0 auto;
      font-family: $font-style;
    }
    img {
      margin: 0 0 15px 0;
    }
  }
  .react-bg {
    background-color: rgba(0,189,196,.8) !important;
    @extend .color-orange;
    img{
      position: relative;
      top: -15px;
    }
    p{
      width:70px;
    }

    .apis-bg {
      background-color: rgba(8,78,164,.8);
      @extend .color-orange;

    }
  }
}

.map {
  position: relative;
}

.form-transformation {
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: $font-style;
  h1 {
    color: $color-white;
    font-size:35px;
  }
  .form-div {
    width: 615px;
    height: 595px;
    background: rgba(0, 95, 150, 0.9);
    padding: 15px;
    input, textarea {
      @include form-input;
    }
    .group {
      img {
        position: relative;
        top: 32px;
        left: 6px;
      }
      input {
        height: 40px;
        padding: 0 9px 0 35px;
        color: #ffffff;
        border-radius:0;
      }
    }
    .textarea-comments {
      margin: 20px 0 0;
      resize: none;
      border-radius:0 !important;
    }
    button {
      width: 100%;
      height: 60px;
      margin: 24px 0 0 0;
      //font-family: "Raleway Bold", sans-serif;
      font-size: 18px;
      font-weight: 700;
      border-radius: 0;
      color: #1174ad;
    }
  }

}

.details {
  width:100%;
  //height: 170px;
  padding: 20px 0;
  margin-top: -7px;
  background-image: url("../images/data-bg-img.jpg");
  background-attachment: fixed;
  display: table;
  font-family: 'Raleway OpenSans',sans-serif;

  .text-center{
    padding:10px 0px;
  }
  img{
    padding: 10px 0 0 0;
  }
  p {
    font-size: 20px;
    color: $color-white;
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.last-div {
  font-family: $font-style;
  width: 100%;
  height: auto;
  background: url("../images/last-background.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  float: left;
  .bg-on-image {
    width: 100%;
    padding: 30px;
    background-color: rgba(15, 54, 76, 0.71);
    float: left;
  }
  h5 {
    color: $color-white;
    letter-spacing: 1px;
    font-size: 22px;
    padding-top: 15px;
    font-weight: 600;
  }
  p {
    color: $color-white;
    font-size: 14px;
  }
  .appBakerZ {
    padding-top: 40px;
    //width:80%;
  }
  .input-group {
    display: inline-flex;
    //vertical-align: middle;
    input {
      width: 280px ;
      height: 28px ;
      //text-align: center;
      border-radius:0 !important ;
      font-style: $font-style !important ;
      font-size: 13px !important ;
      color: #333 ;
      padding-left: 10px ;
    }
  }

  button {
    width: 130px;
    height: 28px;
    color: $color-white;
    font-style: $font-style !important;
    font-size: 13px !important;
    background-color: #106a9f !important;
    border-radius:0 !important;
    margin: 0 0 25px 25px;
    padding: 0 !important;
    &:hover{
      color: #ffffff;
    }

  }
  i {
    width: 45px;
    margin-top: 90px;
    color: #ffffff;
    cursor: pointer;
    font-size: 45px;
  }
  .fa-facebook-official {
    &:hover {
      color: #005eb2;
    }
  }
  .fa-google-plus-square {
    &:hover {
      color: #e62b34;
    }
  }
  .fa-twitter-square {
    &:hover {
      color: #43bdf0;
    }
  }
  .fa-youtube-square {
    &:hover {
      color: #dd3125;
    }
  }
}


.footer {
  background-color: #043450;
  //padding: 15px 0;
  .copy-rights{
    color: $color-white;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
  }
}


////////////////

////////////////// MEDIA QUERY /////////////////

/////////////////////////////////

//////////// md
@media (min-width: 992px) and (max-width: 1199px) {
  .first-bg {
    .app-bakerz-logo{
      padding: 0 0 0 10px;
    }
    .navbar-collapse{
      left:-35px;
    }
    .clock {
      //margin: -23px -55px 0 0 !important;
      display: none;
    }
  }
  .about-background{
    .second-div{
      .front-end-development{
        margin-left: 0 !important;
      }
      .js-dev{
        margin-left: 0;
      }
      h3{
        font-size: 30px;
      }
      .paragraph-two{
        font-size: 16px;
      }
    }
  }
}

/////////// sm
@media (min-width: 768px) and (max-width: 991px) {

}

////////// xs
@media (min-width: 320px) and (max-width: 767px) {
  .header-bg{
    height: auto !important;
    padding-bottom: 40px;
    .navbar-default {
      margin-bottom: 55px !important;
      .logo-top {
        padding: 0 !important;
      }
      .navbar-nav {
        margin: 0;
      }
      .clock {
        display: none;
      }
    }
    .navbar-header {
      padding: 0 0 21px;
      background: #000;
    }
    .navbar-collapse {
      position: relative;
      top: 0;
    }
    .main-heading {
      margin: 15px 0 !important;
      h1 {
        font-size: 30px !important;
        margin-bottom: 15px !important;
      }
      .btn {
        font-size: 18px;
        display: inline-block;
      }
    }
  }

  .about-background-image {
    .second-div {
      padding: 0 !important;
      h3 {
        font-size: 20px !important;
        margin: 40px 0 25px 0 !important;
      }
      .about-us-paragraph {
        padding: 0 9px 22px;
        font-size: 14px !important;
        text-align: center;
        //line-height: 25px !important;
        //margin:0 0 20px 0 !important;
      }
      .div-two-nested {
        .front-end-development{
          margin-left: 0;
        }
        img {
          height: 40px !important;
        }
      }

      .caption {
        font-size: 11px !important;
        font-family: 'Raleway Bold', sans-serif;
        font-weight: 600;
        color: #1b3a54;
      }
      .front-end-development{
        margin-left: 0;
      }
      .js-dev{
        margin-left: 0;
      }
    }
  }
  .third-div {
    .container{
      padding:10px;
      //margin:10px 0;
    }
    .col-xs-12{
      margin:10px 0;
    }
    .course-image{
      width:30% !important;
    }
    .text-uppercase {
      font-size: 16px !important;
    }
  }
  .fourth-div {
    padding: 30px 0;
    h3 {
      margin: -10px 0 20px 0;
      font-size: 26px !important;
      padding: 15px 0 !important;
    }
    .accordian-courses{
      width:100%;
      font-size: 12px;
    }
    .container {
      padding: 0 !important;
      button {
        font-size: 12px !important;
      }

    }
    .dropdown-transformation{
      font-size: 12px;
      margin:5px 0;
    }
    span {
      width: 30px !important;
      height: 30px !important;
      top: -7px !important;
      &:before{
        top: 5px;
        left:0;
      }
    }
  }

  .fifth-div {
    background-size: cover !important;
    .displayes {
      .color-orange {
        p {
          top: 0;
        }
        img{
          top: 0;
        }
      }
      .css-three{
        img{
          top:5px;
          margin:20px 0 !important;
        }
      }
    }
    .java-sc{
      padding: 50px 0 !important;
      font-size: 14px;
    }
    .angular-js{
      padding: 50px 0 !important;
      font-size: 14px;

    }

  }
  .form-transformation {
    .form-div{
      width:100%;
      height:100%;
      h1{
        font-size: 26px !important;
        margin-top: 0 !important;
      }
      button{
        height: 40px;
      }
    }

    left: 10px !important;
    font-size: 15px !important;
    .textarea-comments {
      .form-control {
        font-size: 15px !important;
      }
    }
  }
  .details{

    img{
      padding: 10px 0 5px 0;
    }
    p{
      width: 100%;
      margin: 15px 0 0 0 !important;
      font-size:  16px !important;

    }
  }
  .last-div {
    .bg-on-image{
      padding:30px 0;
    }
    .appBakerZ{
      margin: 10px 0;
      padding: 0 !important;
    }
    h5{
      font-size: 14px !important;
    }
    p{
      font-size:10px !important;
    }
    .input-group {
      display: inline-block;
      padding: 0 !important;
      input{
        width: 100%;
        text-align: center;
        color: #333;
      }
    }
    button{
      margin: 10px 0 0 10px;
      width:135px !important;
    }
    i{
      margin-top: 40px !important;
    }
    .fa-facebook {
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #005eb2;
      }
    }
    .fa-google-plus{
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #e62b34;
      }
    }
    .fa-twitter{
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #43bdf0;
      }
    }
    .fa-youtube-play {
      background-color: #ffffff;
      font-size: 30px;
      padding: 5px 0;
      color: #000;
      &:hover {
        background-color: #dd3125;
      }
    }
  }
  .footer{
    margin:0;
    .all-rights-reserved{
      font-size: 12px;
      display: inline-block;
    }
  }
}

///////////////MEDIA QUERY END ////////////////////