.wds-header-bg{
  background-image: url("../images/wordpress-banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @extend .header-bg;
}
.about-background-image{
  .about-icons{
    height: 50px !important;
  }
}
.fifth-div{
  .php{
    background-color:rgba(116, 142, 195, 0.9);
    padding: 87px 0;
    img{
      margin: 0 0 30px 0;
    }
  }
  .wordpress-block{
    background-color: rgba(21, 55, 66, 0.9);
    padding: 87px 0;
    img{
      margin: 0 0 30px 0;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-background-image{
    .second-div{
      padding: 20px 60px 60px 60px !important;
      h3{
        font-size: 24px;
      }
      .about-us-paragraph{
        font-size: 16px;
        margin-bottom: 50px !important;
      }
      .div-two-nested{
        padding:20px 0;
        .about-icons{
          height: 50px !important;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 320px) and (max-width: 767px){}