.desktop-home-header{
  background: url("../images/desktop.jpg") no-repeat !important;
  background-size:cover;
  @extend .header-bg;
}
.about-background-image{
  .second-div {
    .about-meteor {
      padding:0 0 30px 0;
      img {
        width: 55px;
        height: 55px;
      }
      .meteor-text {
        margin: 10px 0 30px 10px;
        font-weight: bold;
        color: #000;
        font-size: 13px;
      }
    }
  }
}
.meteor-details{
  background: url("../images/background5.png") no-repeat;
  background-attachment: fixed;
  background-size:cover;
  .container-fluid{
    padding: 0 !important;
  }
  .col-lg-12{
    padding:0 !important;
  }
  .colorOnBg{
    background-color: rgba(226, 95, 92, 0.93);
  }
  img{
    margin:70px 10px 40px 0;
  }
  p{
    color: $color-white;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    padding: 0 90px 70px 125px;
  }
  .container{
    margin-bottom: 0 !important;

  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .about-background-image .second-div .meteor-text{
    margin: 10px 0 30px 10px !important;
  }
  .meteor-details{
    p{
      padding: 0 15px 70px 5px;
    }
  }
}
@media(min-width: 768px)and(max-width: 991px) {
  .meteor-details{
    p{
      padding: 0 65px 70px 55px;
    }
  }
}
@media(min-width: 320px) and (max-width: 767px) {
  .about-background-image .second-div .about-us-paragraph {
    margin-bottom: 0 !important;
  }
  .meteor-details{
    p{
      padding: 0 10px 80px 10px;
    }
  }
}