.wordpressMeetup-header{
  background: url("../images/wordpress-annual-meetup-event.jpg") no-repeat;
  width: 100%;
  height:450px;
  @extend .header-bg;
}
.about-us{
  font-family: Raleway, sans-serif;
  h3{
    text-align: center;
    font-size: 35px;
    margin: 50px 0 10px -35px;
    font-weight:600;
  }
  .event-intro{
    margin: 20px 0 60px 0;
    .simple-paragraph {
      font-size: 20px;
      padding-left: 100px;
      margin-bottom: 0;
    }
    span {
      padding-right: 70px;
      text-align: center;
      display: inline-block;
    }
  }
}
.date-venue-time{
  height: 150px;
  width:100%;
  font-family:Raleway, sans-serif;
  font-size:23px;
  text-align: center;
  display: table;
  .row{
    background: url("../images/venue-bg.jpg") no-repeat;
    display: table-cell;
    padding: 20px 0 0 0;
    vertical-align:middle;
  }
  .top-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
    .text-uppercase{
      display: inline-block;
      color: $color-white;
      font-size:16px !important;
    }
    .text-uppercase-bold {
      display: inline-block;
      color: $color-white;
      margin: 20px 0 50px 0;
      font-weight: 600;
      font-family:"Open Sans",sans-serif;
    }
    .tagline{
      font-size: 15px;
      margin: -50px 0 0 30px;
    }
  }
}
.event-gallery{
  background-image: url("../images/event-gallery-bg.jpg");
  background-repeat: no-repeat;
  padding: 30px 0 60px 0;
  h1{
    font-family: Raleway, sans-serif;
    font-size: 35px;
    font-weight:600;
    color: #727272;
    margin: 40px 0 25px 0;
  }
  .img-transform{
    width: 100%;
    height: 450px;
  }
  img{
    width:100%;
    margin-bottom: 15px;
  }
}
.register{
  font-family: $font-style;
  background: url("../images/venue-bg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  h1{
    color: $color-white;
    font-weight: 700;
    font-size: 35px;
    margin-top: 50px;
  }
  .input-fields {
    padding: 20px 0 100px 0;
    input {
      background-color: transparent;
      color: $color-white;
      font-size: 18px;
      padding: 10px;
      width: 100%;
      border-color: $color-white;
    }
    ::-webkit-input-placeholder{
      color: #ffffff;
    }
  }
  button{
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: #124C71;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 50px;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .wordpressMeetup-header {
    background-attachment: fixed;
    .main-heading{
      h1{
        margin-top: 100px;
      }
    }
  }
  .about-us{
    padding: 30px 0 30px 0;
    h3{
      font-size: 30px;
    }
    .event-intro {
      margin: 0 0 30px 0;
      padding: 0 !important;
      .simple-paragraph {
        font-size: 16px;
        padding: 0 !important;
        text-align: center;
      }
      span {
        padding: 0 20px 0 50px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .date-venue-time{
    .row{
      padding: 0;
    }
    .top-bottom{
      .text-uppercase-bold{
        margin-bottom: 0 !important;
        font-size: 20px;
      }
    }
  }
  .event-gallery{
    h1{
      font-size:30px;
    }
    .img-transform{
      height: 365px !important;
    }
  }
}
@media(min-width: 768px)and(max-width: 991px) {
  .wordpressMeetup-header{
    .main-heading{
      h1{
        margin:100px 0 0 0 !important;
      }
    }
  }
  .about-us{
    h3{
      margin-top: 30px !important;
      font-size: 30px;
    }
    .event-intro {
      margin: 0 0 30px 0;
      padding: 0 !important;
      .simple-paragraph {
        font-size: 16px;
        padding: 0 0 0 25px !important;
        width: 100%;
      }
      span {
        padding:0;
        font-size: 16px;
      }
    }
  }
  .date-venue-time{
    .row{
      padding: 0 !important;
    }
    .top-bottom{
      padding-top: 40px;
      padding-bottom: 40px;
      .text-uppercase{
        font-size:16px !important;
      }
      .text-uppercase-bold {
        margin: 20px 0 0 0;
        font-size: 20px !important;
      }
      .tagline{
        font-size: 15px;
        margin: -50px 0 0 30px;
      }
    }
  }
  .event-gallery {
    padding:  20px 0 !important;
    h1 {
      font-size: 26px;
      margin: 15px 0 30px 0;
    }
    .img-transform {
      height: 270px;
    }
  }
  .register{
    h1{
      font-size: 26px;
    }
    .input-fields {
      padding:  20px 0 75px 0 !important;
      input {
        font-size: 13px;
      }
    }
    button {
      font-size: 20px !important;
    }
  }
}
@media(min-width: 320px) and (max-width: 767px) {
  .wordpressMeetup-header{
    background-attachment: fixed;
    .main-heading{
      h1{
        margin-top:100px !important;
      }
    }
  }
  .about-us{
    h3{
      font-size: 26px;
      margin: 30px 0 10px 0 !important;
    }
    .event-intro {
      margin: 0 0 30px 0;
      .simple-paragraph {
        font-size: 16px;
        padding: 0 !important;
      }
      span {
        padding:0;
        font-size: 16px;
      }
    }
  }
  .date-venue-time{
    .row{
      padding: 0 !important;
      .top-bottom{
        padding-top: 0;
        .text-uppercase{
          margin-bottom: 0!important;
          margin-top: 30px ;
        }
        .text-uppercase-bold {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          font-size: 18px;
        }
      }
    }
  }
  .event-gallery {
    padding:  20px 0 !important;
    h1 {
      font-size: 26px;
      margin: 15px 0 30px 0;
    }
    .img-transform {
      height: 150px;
    }
  }
  .register {
    h1 {
      font-size: 26px;
    }
    .input-fields {
      input {
        font-size: 13px;
        margin-bottom: 10px;
      }
    }
    button {
      font-size: 16px;
    }
  }
}
