.home-header {
  background: url("../images/desktop.jpg") no-repeat;
  background-size:cover;
  width: 100%;
  height:100%;
  .navbar-default {
    margin-bottom:0;
    background-color: transparent !important;
    border-color: transparent;
  }
  .navbar-collapse {
    width: 100%;
    padding: 35px 0 0 35px;
    font-size:15px;
    position: relative;
    top: 30px;
    left: 15px;
    ul li a{
      color: $color-white;
    }
  }
  .clock {
    display: inline-block;
    width: 21%;
    margin: -28px 0 0;
    img{
      width: 15%;
      float: left;
      margin: 0;
    }
    p{
      width: 79%;
      margin: 0 !important;
      display: inline-block;
      float: right;
      font-size: 11px;
      color: $color-white;
    }
  }
  .navbar-nav{
    color:white;
    margin-left:35px;
  }
  .navbar-nav > li > a {
    &:hover{
      color: $color-white;
      border-bottom: 2px solid $color-white;
    }
  }
  .main-heading{
    text-align:center;
    font-family:$font-style;
    margin: 100px 0;
    h1{
      font-size: 60px;
      color: $color-white;
      font-family: $font-style;
      font-weight: 600;
      margin-bottom: 0;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .btn{
      width: 13%;
      color: #4c667a;
      font-family: 'Raleway', sans-serif;
      font-weight:600;
      border-radius: 0 !important;
      margin-top: 40px;
      box-shadow: 0 10px 30px #476b91;
      display: none;
      padding: 5px;
    }
  }

  .navbar-toggle{
    margin-top:50px !important;
  }
  .logo-top{
    padding: 0 0 0 50px;
  }
  .navbar-collapse{
    border:0;
    padding:0 !important;
  }
}
.about-background-image{
  .second-div{
    img{
      filter: #0b2c48;
    }
    .meteor-text{
      margin: 10px 0 35px 30px;
      font-weight:bold;
      color: #0b2c48;
      font-size:13px;
    }
  }
}